<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- Express не рабоатет с DOM документами нужно чрез script писать js!
    <script defer src="../../src/animation/clickDetailsPhoto.js"></script> --}}
</head>


<body>

    <div class="main">

        <div class="header">
            <div class="logo">
                <h1><a href="/">Laptop-Store</a></h1>
                <div class="greeting">
                    <p>Welcome, <span id="username">Evgeniy</span></p>
                    <img src="/static/img/home-page-img/logo_user.png">
                </div>
            </div>

            <div class="menu_header">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="javascript:void(0)" id="clickMenu">Catalog
                            <span class="down">&#x25BC;</span>
                            <span class="up">&#x25B2;</span>
                        </a></li>
                    <script>
                        function dropdown() {
                            let up = document.querySelector('.up');
                            up = up.style.display = 'none';

                            function offScrollTo() {
                                window.scrollTo(0, 0);
                            }

                            document.getElementById('clickMenu').addEventListener('click', () => {
                                if (document.querySelector('.up').style.display === 'none') {
                                    document.querySelector('.up').style.display = 'inline-block';
                                    document.querySelector('.down').style.display = 'none';
                                    document.querySelector('.visible_menu').style.display = 'block';
                                    
                                    window.addEventListener('scroll', offScrollTo);

                                } else {
                                    document.querySelector('.up').style.display = 'none';
                                    document.querySelector('.down').style.display = 'inline-block';
                                    document.querySelector('.visible_menu').style.display = 'none';

                                    window.removeEventListener('scroll', offScrollTo);
                                }
                            });

                            let up1 = document.querySelector('.up1');
                            up1 = up1.style.display = 'none';

                            document.getElementById('clickMenu1').addEventListener('click', () => {
                                if (document.querySelector('.up1').style.display === 'none') {
                                    document.querySelector('.up1').style.display = 'inline-block';
                                    document.querySelector('.down1').style.display = 'none';
                                    document.querySelector('.visible_menu1').style.display = 'block';
                                } else {
                                    document.querySelector('.up1').style.display = 'none';
                                    document.querySelector('.down1').style.display = 'inline-block';
                                    document.querySelector('.visible_menu1').style.display = 'none';
                                }
                            });

                        }
                        dropdown()
                    </script>

                    <li><a href="/create">Create</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                    <li><a href="#">Logout</a></li>
                    <li><a href="/my-page">My Page</a></li>
                </ul>

                <div class="visible_menu">
                    <div class="sub_menu">
                        <ul>
                            <li><a href="javascript:void(0)"></a></li>
                            <li><a href="/catalog/all">All</a></li>
                            <li><a href="/catalog/apple">Apple</a></li>
                            <li><a href="/catalog/asus">Asus</a></li>
                            <li><a href="/catalog/lenovo">Lenovo</a></li>
                            <li><a href="/catalog/msi">MSI</a></li>
                            <li><a href="/catalog/others">Others</a></li>
                        </ul>
                    </div>
                </div>

                <div class="addcart">
                    <a href="/cart">
                        <img src="/static/img/home-page-img/add_cart.png">
                    </a>
                    <div class="counter">
                        <span>0</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="content_back_color">
            <button onclick="topFunction()" id="myBtn">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>

            <div class="content">
                <!-- appendChild here  "<div class="content">" -->

                {{{body}}}


            </div>

            <script>
                function topFunction() {
                    document.documentElement.scrollTop = 0;
                }
                document.addEventListener('scroll', () => {
                    if (document.documentElement.scrollTop > 200) {
                        document.getElementById('myBtn').style.display = 'block';
                    } else {
                        document.getElementById('myBtn').style.display = 'none';
                    }
                });
            </script>

        </div>


        <footer class="footer">
            <div class="footer_top">
                <a href="javascript:void(0)">Laptop-Store</a>
            </div>

            <div class="footer_menu">
                <ul>
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">About</a></li>
                    <li><a href="javascript:void(0)">Catalog</a></li>
                    <!-- <li><a href="#">Catalog</a></li>
                    <li><a href="#">Home</a></li> -->
                </ul>
                <p>Copyright &copy; 2022. All rights reserved</p>
            </div>
        </footer>

    </div>

</body>


</html>