<div class="content_about">
    <h1>About Us</h1>

    <h3>Small dreams and big plans.</h3>
    <p><span>LAPTOP-STORE</span> is the largest online retailer in the country. Since 2005, we have been fulfilling
        the small dreams and grandiose plans of millions of people. We can find literally everything. We
        sell at a fair price and provide a guarantee, because we believe that online shopping should be
        as convenient and safe as possible. And every time someone clicks "Buy", we understand that we
        are doing the right thing.</p>

    <h3>Our goal is to be helpful.</h3>
    <p>We believe that things exist in order to make life easier, more pleasant and kinder. Therefore,
        the search for that very thing should be fast, convenient and enjoyable. We don't just sell home
        appliances, electronics, jewelry or wine. We help you find exactly what you need, in one place
        and without unnecessary worries, so that you do not waste your life searching, but just live
        happily. <span>LAPTOP-STORE</span> is a universal answer to any request, the beginning of the search and its
        final
        stop, a real helper. We forever save our customers from unpleasant compromises, fulfill wishes
        and allow them to dream more boldly. Through smart research and honest service, we're making our
        customers' lives a little better right now.</p>

    <h3>Convenient delivery.</h3>
    <p>And of course, any product can be ordered with delivery. We deliver in Sofia within one day, and
        in Bulgaria - the next day. Everything - without prepayment, if necessary - on credit. Payment
        in cash or non-cash - as you prefer.</p>

    <!-- <h3>We are waiting for you here и тут можно палец вниз</h3> -->
    <!-- <pre>WE   we  WE      WE</pre> -->
</div>