{{#if product}}

<section class="section-cart">
    <header class="section-cart__header">
        <div class="container">
            <h1 class="title-1">Shopping Cart</h1>
        </div>
    </header>
    <div class="section-cart__body">
        <div class="container">
            <section class="cart">
                <header class="cart-header">
                    <div class="cart-header__title">Title</div>
                    <div class="cart-header__count">Count</div>
                    <div class="cart-header__price">Price</div>
                </header>
                <div class="products">
                    {{!-- {{#each cards}} --}}
                    {{#with product}}
                    <section class="product">
                        <div class="product__img"> <img src="{{img1}}"> </div>
                        <div class="product__title">{{name}}</div>
                        <div class="product__count">
                            <div class="count">
                                <div class="count__box">
                                    <input class="count__input" type="number" min="1" max="100" value="1">
                                </div>
                                <div class="count__controls">
                                    <button type="button" class="count__up">
                                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="count__down">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="product__price">{{price}}</div>
                        <div class="product__button">
                            <button type="button" id="closeCart">
                                <i class="fa fa-window-close" aria-hidden="true"></i>
                            </button>
                        </div>
                    </section>
                    {{/with}}
                    {{!-- {{/each}} --}}
                </div>
                <footer class="cart-footer">
                    <div class="cart-footer__count"></div>
                    <div class="cart-footer__sum"></div>
                    <div class="cart-footer__checkout">
                    <a href="/=(" >Checkout</a>

                    </div>
                </footer>
            </section>
        </div>
    </div>
</section>

<section id="reserveCartEmpty" class="section-cart__empty" style="display:none">
    <div class="cart__empty">
        <img src="https://i.imgur.com/dCdflKN.png">
        <h3>Your Cart is Empty</h3>
        <h4>Add something to make me happy :)</h4>
        <a href="/catalog/all">continue shopping</a>
    </div>
</section>

{{else}}

<section class="section-cart__empty" id="12345">
    <div class="cart__empty">
        <img src="https://i.imgur.com/dCdflKN.png">
        <h3>Your Cart is Empty</h3>
        <h4>Add something to make me happy :)</h4>
        <a href="/catalog/all">continue shopping</a>
    </div>
</section>

{{/if}}

<script>
    let count = 1;
    let price = document.querySelector('.product__price').textContent;
    let counter = document.querySelector('.cart-footer__count');
    let sum = document.querySelector('.cart-footer__sum');
    counter.textContent = `${count} counters`;
    sum.textContent = `${(count * price).toFixed(2)} euro`;
    document.getElementById('cartCounter').textContent = count;

    document.querySelector('.count__up').addEventListener('click', () => {
        count -= 1;
        if (count < 1) {
            count = 1;
        }
        document.querySelector('.count__input').value = count;
        counter.textContent = `${count} counters`;
        sum.textContent = `${(count * price).toFixed(2)} euro`;
        document.getElementById('cartCounter').textContent = count;
    });

    document.querySelector('.count__down').addEventListener('click', () => {
        count += 1;
        if (count > 100) {
            count = 100;
        }
        document.querySelector('.count__input').value = count;
        counter.textContent = `${count} counters`;
        sum.textContent = `${(count * price).toFixed(2)} euro`;
        document.getElementById('cartCounter').textContent = count;
    });

    document.getElementById('closeCart').addEventListener('click', () => {
        document.querySelector('.section-cart').style.display = 'none';
        document.querySelector('#reserveCartEmpty').style.display = 'block';
        document.getElementById('cartCounter').textContent = 0;
    });
</script>