<div class="content_create">

    <form action="#" method="post">
        <h3>Create a Laptop</h3>

        <ul>
            <li>
                <label for="">Product Name</label>
                <input type="text">
            </li>
            <li>
                <label for="">Display</label>
                <input type="text">
            </li>
            <li>
                <label for="">Processor</label>
                <input type="text">
            </li>
            <li>
                <label for="">RAM size</label>
                <input type="text">
            </li>
            <li>
                <label for="">Graphics</label>
                <input type="text">
            </li>
            <li>
                <label for="">Operating System</label>
                <input type="text">
            </li>
            <li>
                <label for="">HDD/SDD Capacity</label>
                <input type="text">
            </li>
            <li>
                <label for="">Product Category</label>
                <select class="custom_select" name="type" id="type" size="1">
                    <option value="" hidden>Selected...</option>
                    <option value="1">Acer</option>
                    <option value="2">Apple</option>
                    <option value="3">Asus</option>
                    <option value="4">Samsung</option>
                    <option value="5">Lenovo</option>
                    <option value="6">HP</option>
                    <option value="7">MSI</option>
                    <option value="8">Razer</option>
                    <option value="9">GIGABYTE</option>
                    <option value="10">Others</option>
                </select>
            </li>
            <li class="select-input-imgs">
                <label for="">Image of Product</label>
                <ul>
                    <!-- <input type="file" accept="image/*" multiple name="fileUpload[]" size="50"> -->
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL"></li>
                </ul>
            </li>
            <li>
                <label for="">Description</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </li>
        </ul>

        <input type="submit" value="Create">
    </form>

</div>