<div class="content_create">

    <form action="/create" method="post">
        <h3>Create a Laptop</h3>

        {{#if error}}
        <ul class="errorMessages">
            {{#each error}}
            <li><span>{{this}}: </span>are required!</li>
            {{/each}}
        </ul>
        {{/if}}
        
        <ul>
            <li> <label>Product Name</label> <input type="text" name="name"> </li>
            <li> <label>Display</label> <input type="text" name="display"> </li>
            <li> <label>Processor</label> <input type="text" name="processor"> </li>
            <li> <label>Graphic Card</label> <input type="text" name="graphic"> </li>
            <li> <label>RAM size</label> <input type="text" name="ramMemory"> </li>
            <li> <label>HDD/SDD Capacity</label> <input type="text" name="totalCapacity"> </li>
            <li> <label>Operating System</label> <input type="text" name="operatingSystem"> </li>
            <li> <label>Price</label> <input type="number" name="price"> </li>
            <li>
                <label>Product Category</label>
                <select class="custom_select" name="productCategory" size="1">
                    <option value="" hidden>Selected...</option>
                    <option value="1">Apple</option>
                    <option value="2">Asus</option>
                    <option value="3">Lenovo</option>
                    <option value="4">MSI</option>
                    <option value="5">Others</option>
                </select>
            </li>
            <li class="select-input-imgs">
                <label for="">Image of Product</label>
                <ul>
                    <!-- <input type="file" accept="image/*" multiple name="fileUpload[]" size="50"> -->
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL" name="img1"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL" name="img2"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL" name="img3"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL" name="img4"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL" name="img5"></li>
                    <li><input type="text" accept="image/*" multiple placeholder="Image URL" name="img6"></li>
                </ul>
            </li>
            <li>
                <label>Description</label>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
            </li>
        </ul>

        <input type="submit" value="Create">
    </form>

</div>