<div class="content_product">

    <div class="show_main_menu">
        <div class="img_box_laptop">
            <img onclick="openModal();currentSlide2(1)"
                src="https://avatars.mds.yandex.net/get-mpic/5254754/img_id5812204140340410650.png/orig">
        </div>

        <div class="img_box_laptop">
            <img onclick="openModal();currentSlide2(2)"
                src="https://avatars.mds.yandex.net/get-mpic/5221929/img_id6875097475845405054.png/orig">
        </div>

        <div class="img_box_laptop">
            <img onclick="openModal();currentSlide2(3)"
                src="https://avatars.mds.yandex.net/get-mpic/7888310/img_id2662544884107106629.png/orig">
        </div>

        <div class="img_box_laptop">
            <img onclick="openModal();currentSlide2(4)"
                src="https://avatars.mds.yandex.net/get-mpic/1603927/img_id4692950971206095501.png/orig">
        </div>

        <div class="img_box_laptop">
            <img onclick="openModal();currentSlide2(5)"
                src="https://avatars.mds.yandex.net/get-mpic/5221929/img_id6875097475845405054.png/orig">
        </div>

        <div class="img_box_laptop">
            <img onclick="openModal();currentSlide2(6)"
                src="https://avatars.mds.yandex.net/get-mpic/3721790/img_id4827373874756084353.png/orig">
        </div>


        <a class="prev_laptop" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next_laptop" onclick="plusSlides(1)">&#10095;</a>


        <div class="row_laptop">
            <div class="column_laptop">
                <img class="demo_laptop cursor_laptop"
                    src="https://avatars.mds.yandex.net/get-mpic/5254754/img_id5812204140340410650.png/orig"
                    onclick="currentSlide(1)" value="1">
            </div>
            <div class="column_laptop">
                <img class="demo_laptop cursor_laptop"
                    src="https://avatars.mds.yandex.net/get-mpic/5221929/img_id6875097475845405054.png/orig"
                    onclick="currentSlide(2)" value="2">
            </div>
            <div class="column_laptop">
                <img class="demo_laptop cursor_laptop"
                    src="https://avatars.mds.yandex.net/get-mpic/7888310/img_id2662544884107106629.png/orig"
                    onclick="currentSlide(3)" value="3">
            </div>
            <div class="column_laptop">
                <img class="demo_laptop cursor_laptop"
                    src="https://avatars.mds.yandex.net/get-mpic/1603927/img_id4692950971206095501.png/orig"
                    onclick="currentSlide(4)" value="4">
            </div>
            <div class="column_laptop">
                <img class="demo_laptop cursor_laptop"
                    src="https://avatars.mds.yandex.net/get-mpic/5221929/img_id6875097475845405054.png/orig"
                    onclick="currentSlide(5)" value="5">
            </div>
            <div class="column_laptop">
                <img class="demo_laptop cursor_laptop"
                    src="https://avatars.mds.yandex.net/get-mpic/3721790/img_id4827373874756084353.png/orig"
                    onclick="currentSlide(6)" value="6">
            </div>
        </div>
    </div>



    <div class="hidden_main_menu">
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal_content">

                <div class="imgMySlides">
                    <div class="mySlides">
                        <img src="https://avatars.mds.yandex.net/get-mpic/5254754/img_id5812204140340410650.png/orig">
                    </div>
                    <div class="mySlides">
                        <img src="https://avatars.mds.yandex.net/get-mpic/5221929/img_id6875097475845405054.png/orig">
                    </div>
                    <div class="mySlides">
                        <img src="https://avatars.mds.yandex.net/get-mpic/7888310/img_id2662544884107106629.png/orig">
                    </div>
                    <div class="mySlides">
                        <img src="https://avatars.mds.yandex.net/get-mpic/1603927/img_id4692950971206095501.png/orig">
                    </div>
                    <div class="mySlides">
                        <img src="https://avatars.mds.yandex.net/get-mpic/5221929/img_id6875097475845405054.png/orig">
                    </div>
                    <div class="mySlides">
                        <img src="https://avatars.mds.yandex.net/get-mpic/3721790/img_id4827373874756084353.png/orig">
                    </div>

                    <a class="prev_laptop_hidden" onclick="plusSlides2(-1)">&#10094;</a>
                    <a class="next_laptop_hidden" onclick="plusSlides2(1)">&#10095;</a>
                </div>


                <div class="column">
                    <img class="demo" onclick="currentSlide2(1)"
                        src="https://avatars.mds.yandex.net/get-mpic/5254754/img_id5812204140340410650.png/orig">
                </div>
                <div class="column">
                    <img class="demo" onclick="currentSlide2(2)"
                        src="https://avatars.mds.yandex.net/get-mpic/5221929/img_id6875097475845405054.png/orig">
                </div>
                <div class="column">
                    <img class="demo" onclick="currentSlide2(3)"
                        src="https://avatars.mds.yandex.net/get-mpic/7888310/img_id2662544884107106629.png/orig">
                </div>
                <div class="column">
                    <img class="demo" onclick="currentSlide2(4)"
                        src="https://avatars.mds.yandex.net/get-mpic/1603927/img_id4692950971206095501.png/orig">
                </div>
                <div class="column">
                    <img class="demo" onclick="currentSlide2(5)"
                        src="https://avatars.mds.yandex.net/get-mpic/5221929/img_id6875097475845405054.png/orig">
                </div>
                <div class="column">
                    <img class="demo" onclick="currentSlide2(6)"
                        src="https://avatars.mds.yandex.net/get-mpic/3721790/img_id4827373874756084353.png/orig">
                </div>

            </div>
        </div>
    </div>

    <div class="text_main_menu">
        <h1>Лаптоп Lenovo Legion 7</h1>
        <div>
            <span class="span_name_details">Дисплей:</span>
            <span class="span_description_details">15.6 Full HD</span>
        </div>
        <div>
            <span class="span_name_details">Процесор:</span>
            <span class="span_description_details">Intel Core i5-10210U</span>
        </div>
        <div>
            <span class="span_name_details">RAM памет:</span>
            <span class="span_description_details">8GB DDR4</span>
        </div>
        <div>
            <span class="span_name_details">Видео карта:</span>
            <span class="span_description_details">Intel UHD Graphics</span>
        </div>
        <div>
            <span class="span_name_details">Диск:</span>
            <span class="span_description_details">512GB PCIe SSD</span>
        </div>
        <div>
            <span class="span_name_details">Операционна система:</span>
            <span class="span_description_details">Windows 10 Pro</span>
        </div>
        <div>
            <span class="span_name_details_price">цена:</span>
            <span class="span_description_details_price"> 3000.00 лв</span>
        </div>
        <div class="div_description_details">
            <span>
                Lenovo Legion 7 е геймърски лаптоп създаден единствено за екшън, скорост и победа. Лаптоп с
                производителност на работна станция - проектиран за вас, любителите на екстремни преживявания,
                независимо дали играете или работите на макс.
            </span>
        </div>

    </div>
    <div class="div_details_control">
        <button>Like</button>
        <button>Edit</button>
        <button>Delete</button>
        <button>Buy Now</button>
    </div>



    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            let slides = document.getElementsByClassName('img_box_laptop');
            let dots = document.getElementsByClassName('demo_laptop');
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = 'none';
            }
            for (let i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(' active_laptop', '')
            }
            slides[slideIndex - 1].style.display = 'block';
            dots[slideIndex - 1].className += ' active_laptop';
        }

        // при открытии фотографии
        function openModal() {
            document.getElementById('myModal').style.display = 'block';
        }
        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }

        let slideIndex2 = 1;

        showSlides2(slideIndex2);

        function plusSlides2(n) {
            showSlides2(slideIndex2 += n);
        }
        function currentSlide2(n) {
            showSlides2(slideIndex2 = n);
        }
        function showSlides2(n) {
            let hiddenSlides = document.getElementsByClassName('mySlides');
            let hiddenDots = document.getElementsByClassName('demo');

            if (n > hiddenSlides.length) {
                slideIndex2 = 1;
            }
            if (n < 1) {
                slideIndex2 = hiddenSlides.length;
            }
            for (let i = 0; i < hiddenSlides.length; i++) {
                hiddenSlides[i].style.display = 'none';
            }
            for (let i = 0; i < hiddenDots.length; i++) {
                hiddenDots[i].style.opacity = '0.6';
            }
            hiddenSlides[slideIndex2 - 1].style.display = 'block';
            hiddenDots[slideIndex2 - 1].style.opacity = '1';
        }
    </script>
</div>